@keyframes ldio-i2brwz7idpk {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-i2brwz7idpk div {
  position: absolute;
  width: 57.04px;
  height: 57.04px;
  border: 9.92px solid #f2bed1;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-i2brwz7idpk div {
  animation: ldio-i2brwz7idpk 1.2987012987012987s linear infinite;
  top: 62px;
  left: 62px
}
.loadingio-spinner-rolling-xfwc8ot9ec9 {
  width: 124px;
  height: 124px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-i2brwz7idpk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-i2brwz7idpk div { 
  box-sizing: content-box; 
}